//COLORS
$blue: #9acbd0;
$darkBlue: #006a71;
$brown: #f2efe7;
$grey: #758694;
$lightGrey: #eff3ea;
$white: #fff;
$black: #383b4a;
$error: #d33d3d;
$success: #4caf50;
//SCREENS
$medium-screen: 1440px;
$small-screen: 1290px;
$mobile-screen: 1024px;
$phone_screen: 640px;

//MAX SCREENS

//TRANSITIONS
$transition-time: 0.3s;

//PRIORITY
$z-topbar: 200;
$z-modal: 201;
